<a href="https://colab.research.google.com/github/RokonUZ/-Edge-Detection-Using-Webcam-Python-3/blob/master/house_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#data = pd.read_csv("../input/housing-simple-regression/Housing.csv")

In [4]:
data = pd.read_csv("/content/Housing.csv")

In [5]:
data

        price  area  bedrooms  ...  parking  prefarea furnishingstatus
0    13300000  7420         4  ...        2       yes        furnished
1    12250000  8960         4  ...        3        no        furnished
2    12250000  9960         3  ...        2       yes   semi-furnished
3    12215000  7500         4  ...        3       yes        furnished
4    11410000  7420         4  ...        2        no        furnished
..        ...   ...       ...  ...      ...       ...              ...
540   1820000  3000         2  ...        2        no      unfurnished
541   1767150  2400         3  ...        0        no   semi-furnished
542   1750000  3620         2  ...        0        no      unfurnished
543   1750000  2910         3  ...        0        no        furnished
544   1750000  3850         3  ...        0        no      unfurnished

[545 rows x 13 columns]

In [6]:
data.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [7]:
data.describe()

              price          area  ...     stories     parking
count  5.450000e+02    545.000000  ...  545.000000  545.000000
mean   4.766729e+06   5150.541284  ...    1.805505    0.693578
std    1.870440e+06   2170.141023  ...    0.867492    0.861586
min    1.750000e+06   1650.000000  ...    1.000000    0.000000
25%    3.430000e+06   3600.000000  ...    1.000000    0.000000
50%    4.340000e+06   4600.000000  ...    2.000000    0.000000
75%    5.740000e+06   6360.000000  ...    2.000000    1.000000
max    1.330000e+07  16200.000000  ...    4.000000    3.000000

[8 rows x 6 columns]

In [8]:
data.isnull().any()

price               False
area                False
bedrooms            False
bathrooms           False
stories             False
mainroad            False
guestroom           False
basement            False
hotwaterheating     False
airconditioning     False
parking             False
prefarea            False
furnishingstatus    False
dtype: bool

In [9]:
data.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [10]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [11]:
features=['area', 'bedrooms', 'bathrooms', 'stories',
       'parking']

data[features]

     area  bedrooms  bathrooms  stories  parking
0    7420         4          2        3        2
1    8960         4          4        4        3
2    9960         3          2        2        2
3    7500         4          2        2        3
4    7420         4          1        2        2
..    ...       ...        ...      ...      ...
540  3000         2          1        1        2
541  2400         3          1        1        0
542  3620         2          1        1        0
543  2910         3          1        1        0
544  3850         3          1        2        0

[545 rows x 5 columns]

In [12]:
x=data[features]

x

     area  bedrooms  bathrooms  stories  parking
0    7420         4          2        3        2
1    8960         4          4        4        3
2    9960         3          2        2        2
3    7500         4          2        2        3
4    7420         4          1        2        2
..    ...       ...        ...      ...      ...
540  3000         2          1        1        2
541  2400         3          1        1        0
542  3620         2          1        1        0
543  2910         3          1        1        0
544  3850         3          1        2        0

[545 rows x 5 columns]

In [13]:
y=data['price']

y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.33, random_state=42)
print(xtrain.shape, xtest.shape,ytrain.shape, ytest.shape)

(365, 5) (180, 5) (365,) (180,)

In [ ]:
#xtrain.head()

#no need encoding as i skiped the string values

In [15]:

#feature scaling 
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
    ('std_scalar', StandardScaler())
])

xtrain= pipeline.fit_transform(xtrain)
xtest= pipeline.transform(xtest)

In [ ]:
# this cell work but it is  without scalling   data
# intercept -145734.48945588

#from sklearn.linear_model import LinearRegression
#model = LinearRegression()
#model.fit(data[['area', 'bedrooms', 'bathrooms', 'stories',
       #'parking']], data[['price']])
#print(model.predict([[30]]))

In [16]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [ ]:
#from sklearn.linear_model import LinearRegression

#lin_reg = LinearRegression(normalize=True)
#lin_reg.fit(xtrain,ytrain)

In [17]:
# print the intercept
print(model.intercept_)

4725939.150684931

In [18]:
prediction= model.predict(xtest)
print(prediction)

[6304787.34199317 6403553.09528829 3305582.39472979 4245879.73083088
 3449597.39458945 4349763.96995937 5704639.09166934 5624088.30803902
 3428569.52872649 3038651.78409448 9688308.64801035 3271010.77987863
 3201215.25555647 3626199.84198926 3909948.00161674 6221784.44755373
 3097331.01642798 4955932.02267752 4907009.92619003 3944831.12216641
 5166580.94488547 4384009.43750062 3178058.79655239 4238407.94086092
 6000484.29992185 7842743.61753175 2995742.45030899 4804948.37665192
 7688097.63600734 3423478.32634462 5131095.68656856 4016627.7701176
 6240479.44032997 4772607.63634625 4342603.37075261 5710689.05444855
 4898233.5469804  3822398.41143557 3293046.68582946 4905585.78429266
 5528519.54431435 3171861.99766397 6377461.31049496 4368866.86482757
 4189441.60460389 4291229.163456   6697568.5742581  4682478.46584388
 4613433.10749552 3734199.15627651 7946445.82024516 3350294.1743465
 4906016.84264887 4082806.07587256 3972426.17399723 3107142.71917697
 6999936.72870894 3397896.72504761 4888900.11486299 3227307.0403498
 5004268.93771583 4522830.95357403 5240050.88431975 3605637.9198531
 5131102.72626088 4609267.03039426 6723150.1755551  3593585.1109976
 7590780.58284671 4784903.67770441 4756026.28016443 5146529.20624563
 5111489.64789635 7177869.0490286  3247231.62441284 5386000.77179987
 4566867.8801051  3558346.55991519 4498842.8887494  3886634.78987774
 7295809.22041296 4713634.16956759 5931037.48137541 5247634.87231979
 3169593.60810597 7365612.66158951 3071266.51508614 4124256.38239009
 7641525.36892459 7932670.32056916 3576667.37594484 5167444.87407851
 3765450.10171226 3727305.50806342 8944237.16480707 3991995.01259223
 5600214.75595109 6632339.11227477 5249947.50164733 5692096.34307668
 4439670.42923761 6094594.03637856 4040889.82562823 6114155.83528124
 5509943.78926051 5429355.80555298 7251580.34084108 6167295.28833185
 6126725.86732539 7081473.5561881  6869392.89016371 4000335.36116848
 3466387.66013011 3838195.59343508 4249141.20393004 3870810.32442674
 3813577.79245641 3195202.49285447 4121460.85301772 3632722.7881876
 4499281.5490247  5592800.16252605 3779489.07765008 3423478.32634462
 5473067.4619362  2940807.59111949 5268104.84018505 4579371.67614068
 8707544.17230717 6888961.7287587  3593585.1109976  4768198.32674233
 6122590.54840747 7252700.89389434 3805580.86244341 3173492.73421356
 3462643.28698611 5467398.11779745 3827418.09059642 3763181.71215425
 2586753.72367352 3642507.20748509 4851564.8835042  4155723.27687701
 5013645.45492136 3269706.19063896 6304277.15849684 5941304.80071774
 6900280.17327703 7533384.25844915 5750738.37533297 4558981.14835085
 3554447.4338076  4519333.28766453 4134040.80168759 7109031.40794171
 6897426.60226982 3067026.60005723 7621929.2468781  4683498.83283653
 3794536.40861108 7414096.09780171 6318278.93435745 5784754.09195776
 5261078.75018271 3156859.22140781 4151667.71296981 6580162.58238043
 6063401.13257764 5745223.46922251 3319621.37066762 4131245.27231522
 8230022.270591   4350246.8700042  7464412.73802845 8280746.81290971
 3905693.44497641 6676996.73549622 5467537.59927903 4254914.29908988]

In [19]:
scr=model.score(xtest,prediction)
print(scr)

1.0

Now artificial neural network

In [20]:
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Dense, Activation, Dropout
from tensorflow.keras.optimizers import Adam

xtrain = np.array(xtrain)
xtest = np.array(xtest)
ytrain = np.array(ytrain)
ytest = np.array(ytest)

model = Sequential()

model.add(Dense(xtrain.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
# model.add(Dropout(0.2))

model.add(Dense(64, activation='relu'))
# model.add(Dropout(0.2))

model.add(Dense(128, activation='relu'))
# model.add(Dropout(0.2))

model.add(Dense(512, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(1))

model.compile(optimizer=Adam(0.00001), loss='mse')

r = model.fit(xtrain, ytrain,
              validation_data=(xtest,ytest),
              batch_size=1,
              epochs=100)


#collected cell

Epoch 1/100
365/365 [==============================] - 2s 4ms/step - loss: 25430207758336.0000 - val_loss: 27802799702016.0000
Epoch 2/100
365/365 [==============================] - 1s 3ms/step - loss: 25430214049792.0000 - val_loss: 27802793410560.0000
Epoch 3/100
365/365 [==============================] - 1s 3ms/step - loss: 25430207758336.0000 - val_loss: 27802791313408.0000
Epoch 4/100
365/365 [==============================] - 1s 3ms/step - loss: 25430203564032.0000 - val_loss: 27802780827648.0000
Epoch 5/100
365/365 [==============================] - 1s 3ms/step - loss: 25430184689664.0000 - val_loss: 27802766147584.0000
Epoch 6/100
365/365 [==============================] - 1s 3ms/step - loss: 25430178398208.0000 - val_loss: 27802749370368.0000
Epoch 7/100
365/365 [==============================] - 1s 3ms/step - loss: 25430153232384.0000 - val_loss: 27802713718784.0000
Epoch 8/100
365/365 [==============================] - 1s 3ms/step - loss: 25430128066560.0000 - val_loss: 27802678067200.0000
Epoch 9/100
365/365 [==============================] - 1s 3ms/step - loss: 25430086123520.0000 - val_loss: 27802602569728.0000
Epoch 10/100
365/365 [==============================] - 1s 3ms/step - loss: 25430027403264.0000 - val_loss: 27802524975104.0000
Epoch 11/100
365/365 [==============================] - 1s 3ms/step - loss: 25429945614336.0000 - val_loss: 27802426408960.0000
Epoch 12/100
365/365 [==============================] - 1s 3ms/step - loss: 25429851242496.0000 - val_loss: 27802290094080.0000
Epoch 13/100
365/365 [==============================] - 1s 3ms/step - loss: 25429719121920.0000 - val_loss: 27802105544704.0000
Epoch 14/100
365/365 [==============================] - 1s 3ms/step - loss: 25429549252608.0000 - val_loss: 27801883246592.0000
Epoch 15/100
365/365 [==============================] - 1s 3ms/step - loss: 25429370994688.0000 - val_loss: 27801629491200.0000
Epoch 16/100
365/365 [==============================] - 1s 3ms/step - loss: 25429113044992.0000 - val_loss: 27801317015552.0000
Epoch 17/100
365/365 [==============================] - 1s 3ms/step - loss: 25428829929472.0000 - val_loss: 27800912265216.0000
Epoch 18/100
365/365 [==============================] - 1s 3ms/step - loss: 25428462927872.0000 - val_loss: 27800459280384.0000
Epoch 19/100
365/365 [==============================] - 1s 3ms/step - loss: 25428051886080.0000 - val_loss: 27799916118016.0000
Epoch 20/100
365/365 [==============================] - 1s 3ms/step - loss: 25427550666752.0000 - val_loss: 27799268098048.0000
Epoch 21/100
365/365 [==============================] - 1s 3ms/step - loss: 25426971852800.0000 - val_loss: 27798531997696.0000
Epoch 22/100
365/365 [==============================] - 1s 3ms/step - loss: 25426321735680.0000 - val_loss: 27797684748288.0000
Epoch 23/100
365/365 [==============================] - 1s 3ms/step - loss: 25425554178048.0000 - val_loss: 27796701184000.0000
Epoch 24/100
365/365 [==============================] - 1s 3ms/step - loss: 25424673374208.0000 - val_loss: 27795572916224.0000
Epoch 25/100
365/365 [==============================] - 1s 3ms/step - loss: 25423656255488.0000 - val_loss: 27794260099072.0000
Epoch 26/100
365/365 [==============================] - 1s 3ms/step - loss: 25422515404800.0000 - val_loss: 27792819355648.0000
Epoch 27/100
365/365 [==============================] - 1s 3ms/step - loss: 25421196296192.0000 - val_loss: 27791156314112.0000
Epoch 28/100
365/365 [==============================] - 1s 3ms/step - loss: 25419742969856.0000 - val_loss: 27789270974464.0000
Epoch 29/100
365/365 [==============================] - 1s 3ms/step - loss: 25418027499520.0000 - val_loss: 27787165433856.0000
Epoch 30/100
365/365 [==============================] - 1s 3ms/step - loss: 25416200880128.0000 - val_loss: 27784848080896.0000
Epoch 31/100
365/365 [==============================] - 1s 3ms/step - loss: 25414089048064.0000 - val_loss: 27782216155136.0000
Epoch 32/100
365/365 [==============================] - 1s 3ms/step - loss: 25411840901120.0000 - val_loss: 27779359834112.0000
Epoch 33/100
365/365 [==============================] - 1s 3ms/step - loss: 25409171226624.0000 - val_loss: 27776144900096.0000
Epoch 34/100
365/365 [==============================] - 1s 3ms/step - loss: 25406384111616.0000 - val_loss: 27772556673024.0000
Epoch 35/100
365/365 [==============================] - 1s 3ms/step - loss: 25403118845952.0000 - val_loss: 27768645484544.0000
Epoch 36/100
365/365 [==============================] - 1s 3ms/step - loss: 25399912300544.0000 - val_loss: 27764365197312.0000
Epoch 37/100
365/365 [==============================] - 1s 4ms/step - loss: 25396070318080.0000 - val_loss: 27759665479680.0000
Epoch 38/100
365/365 [==============================] - 1s 3ms/step - loss: 25391840362496.0000 - val_loss: 27754445668352.0000
Epoch 39/100
365/365 [==============================] - 1s 3ms/step - loss: 25387289542656.0000 - val_loss: 27748781260800.0000
Epoch 40/100
365/365 [==============================] - 1s 3ms/step - loss: 25382038274048.0000 - val_loss: 27742458347520.0000
Epoch 41/100
365/365 [==============================] - 1s 3ms/step - loss: 25376470335488.0000 - val_loss: 27735697129472.0000
Epoch 42/100
365/365 [==============================] - 1s 3ms/step - loss: 25370730430464.0000 - val_loss: 27728443080704.0000
Epoch 43/100
365/365 [==============================] - 1s 3ms/step - loss: 25364061487104.0000 - val_loss: 27720270479360.0000
Epoch 44/100
365/365 [==============================] - 1s 3ms/step - loss: 25356790661120.0000 - val_loss: 27711516966912.0000
Epoch 45/100
365/365 [==============================] - 1s 3ms/step - loss: 25349284954112.0000 - val_loss: 27702092365824.0000
Epoch 46/100
365/365 [==============================] - 1s 3ms/step - loss: 25340846014464.0000 - val_loss: 27691872944128.0000
Epoch 47/100
365/365 [==============================] - 1s 3ms/step - loss: 25332354646016.0000 - val_loss: 27681204731904.0000
Epoch 48/100
365/365 [==============================] - 1s 3ms/step - loss: 25322258956288.0000 - val_loss: 27668955267072.0000
Epoch 49/100
365/365 [==============================] - 1s 3ms/step - loss: 25311448137728.0000 - val_loss: 27656158445568.0000
Epoch 50/100
365/365 [==============================] - 1s 3ms/step - loss: 25300301774848.0000 - val_loss: 27642233356288.0000
Epoch 51/100
365/365 [==============================] - 1s 3ms/step - loss: 25288505294848.0000 - val_loss: 27627433754624.0000
Epoch 52/100
365/365 [==============================] - 1s 3ms/step - loss: 25275635073024.0000 - val_loss: 27611497496576.0000
Epoch 53/100
365/365 [==============================] - 1s 3ms/step - loss: 25261185695744.0000 - val_loss: 27594216964096.0000
Epoch 54/100
365/365 [==============================] - 1s 3ms/step - loss: 25245853417472.0000 - val_loss: 27575990616064.0000
Epoch 55/100
365/365 [==============================] - 1s 3ms/step - loss: 25229711638528.0000 - val_loss: 27556461936640.0000
Epoch 56/100
365/365 [==============================] - 1s 3ms/step - loss: 25213007822848.0000 - val_loss: 27535515582464.0000
Epoch 57/100
365/365 [==============================] - 1s 3ms/step - loss: 25194615799808.0000 - val_loss: 27513419988992.0000
Epoch 58/100
365/365 [==============================] - 1s 3ms/step - loss: 25175242309632.0000 - val_loss: 27489768308736.0000
Epoch 59/100
365/365 [==============================] - 1s 3ms/step - loss: 25153576632320.0000 - val_loss: 27464487141376.0000
Epoch 60/100
365/365 [==============================] - 1s 3ms/step - loss: 25131889983488.0000 - val_loss: 27437440172032.0000
Epoch 61/100
365/365 [==============================] - 1s 3ms/step - loss: 25107154075648.0000 - val_loss: 27408335896576.0000
Epoch 62/100
365/365 [==============================] - 1s 3ms/step - loss: 25081482838016.0000 - val_loss: 27377847500800.0000
Epoch 63/100
365/365 [==============================] - 1s 3ms/step - loss: 25056182796288.0000 - val_loss: 27345662509056.0000
Epoch 64/100
365/365 [==============================] - 1s 3ms/step - loss: 25028347297792.0000 - val_loss: 27311162261504.0000
Epoch 65/100
365/365 [==============================] - 1s 3ms/step - loss: 24997500289024.0000 - val_loss: 27275084955648.0000
Epoch 66/100
365/365 [==============================] - 1s 3ms/step - loss: 24966674251776.0000 - val_loss: 27236600119296.0000
Epoch 67/100
365/365 [==============================] - 1s 3ms/step - loss: 24930146058240.0000 - val_loss: 27196418686976.0000
Epoch 68/100
365/365 [==============================] - 1s 3ms/step - loss: 24895104745472.0000 - val_loss: 27153087332352.0000
Epoch 69/100
365/365 [==============================] - 1s 3ms/step - loss: 24858291339264.0000 - val_loss: 27107742711808.0000
Epoch 70/100
365/365 [==============================] - 1s 3ms/step - loss: 24818753732608.0000 - val_loss: 27059573227520.0000
Epoch 71/100
365/365 [==============================] - 1s 3ms/step - loss: 24775860682752.0000 - val_loss: 27009128333312.0000
Epoch 72/100
365/365 [==============================] - 1s 3ms/step - loss: 24732512550912.0000 - val_loss: 26955835506688.0000
Epoch 73/100
365/365 [==============================] - 1s 3ms/step - loss: 24685557317632.0000 - val_loss: 26900007223296.0000
Epoch 74/100
365/365 [==============================] - 1s 3ms/step - loss: 24634938359808.0000 - val_loss: 26840825593856.0000
Epoch 75/100
365/365 [==============================] - 1s 3ms/step - loss: 24585107931136.0000 - val_loss: 26778726825984.0000
Epoch 76/100
365/365 [==============================] - 1s 3ms/step - loss: 24528082173952.0000 - val_loss: 26712123375616.0000
Epoch 77/100
365/365 [==============================] - 1s 3ms/step - loss: 24468120403968.0000 - val_loss: 26642594398208.0000
Epoch 78/100
365/365 [==============================] - 1s 3ms/step - loss: 24409918144512.0000 - val_loss: 26570884382720.0000
Epoch 79/100
365/365 [==============================] - 1s 3ms/step - loss: 24349190914048.0000 - val_loss: 26494906662912.0000
Epoch 80/100
365/365 [==============================] - 1s 3ms/step - loss: 24281574539264.0000 - val_loss: 26415107932160.0000
Epoch 81/100
365/365 [==============================] - 1s 3ms/step - loss: 24210546098176.0000 - val_loss: 26331817443328.0000
Epoch 82/100
365/365 [==============================] - 1s 3ms/step - loss: 24134348177408.0000 - val_loss: 26245479792640.0000
Epoch 83/100
365/365 [==============================] - 1s 3ms/step - loss: 24061124018176.0000 - val_loss: 26155495194624.0000
Epoch 84/100
365/365 [==============================] - 1s 3ms/step - loss: 23983684583424.0000 - val_loss: 26060018155520.0000
Epoch 85/100
365/365 [==============================] - 1s 3ms/step - loss: 23899083374592.0000 - val_loss: 25962271997952.0000
Epoch 86/100
365/365 [==============================] - 1s 3ms/step - loss: 23810822635520.0000 - val_loss: 25856466485248.0000
Epoch 87/100
365/365 [==============================] - 1s 3ms/step - loss: 23722299752448.0000 - val_loss: 25749369126912.0000
Epoch 88/100
365/365 [==============================] - 1s 4ms/step - loss: 23624660549632.0000 - val_loss: 25634963193856.0000
Epoch 89/100
365/365 [==============================] - 1s 3ms/step - loss: 23522854305792.0000 - val_loss: 25516010635264.0000
Epoch 90/100
365/365 [==============================] - 1s 3ms/step - loss: 23420928524288.0000 - val_loss: 25393763450880.0000
Epoch 91/100
365/365 [==============================] - 1s 3ms/step - loss: 23311247474688.0000 - val_loss: 25267737198592.0000
Epoch 92/100
365/365 [==============================] - 1s 3ms/step - loss: 23204613586944.0000 - val_loss: 25134635155456.0000
Epoch 93/100
365/365 [==============================] - 1s 3ms/step - loss: 23087135326208.0000 - val_loss: 24995927425024.0000
Epoch 94/100
365/365 [==============================] - 1s 3ms/step - loss: 22971097808896.0000 - val_loss: 24850835963904.0000
Epoch 95/100
365/365 [==============================] - 1s 3ms/step - loss: 22843563704320.0000 - val_loss: 24703030788096.0000
Epoch 96/100
365/365 [==============================] - 1s 3ms/step - loss: 22709333393408.0000 - val_loss: 24545838759936.0000
Epoch 97/100
365/365 [==============================] - 1s 3ms/step - loss: 22572515196928.0000 - val_loss: 24383712133120.0000
Epoch 98/100
365/365 [==============================] - 1s 3ms/step - loss: 22425553076224.0000 - val_loss: 24217902907392.0000
Epoch 99/100
365/365 [==============================] - 1s 3ms/step - loss: 22278402211840.0000 - val_loss: 24042377576448.0000
Epoch 100/100
365/365 [==============================] - 1s 3ms/step - loss: 22133572894720.0000 - val_loss: 23865916915712.0000

In [21]:
#collected
from sklearn.svm import SVR

svm_reg = SVR(kernel='rbf', C=1000000, epsilon=0.001)
svm_reg.fit(xtrain, ytrain)

test_pred = svm_reg.predict(xtest)
train_pred = svm_reg.predict(xtrain)

print('Test set evaluation:\n_____________________________________')
#print_evaluate(ytest, test_pred)

print('Train set evaluation:\n_____________________________________')
#print_evaluate(ytrain, train_pred)

Test set evaluation:
_____________________________________
Train set evaluation:
_____________________________________

In [22]:
#collected


from sklearn.ensemble import RandomForestRegressor

rf_reg = RandomForestRegressor(n_estimators=1000)
rf_reg.fit(xtrain, ytrain)

test_pred = rf_reg.predict(xtest)
train_pred = rf_reg.predict(xtrain)

print('Test set evaluation:\n_____________________________________')
#print_evaluate(y_test, test_pred)

print('Train set evaluation:\n_____________________________________')
#print_evaluate(y_train, train_pred

Test set evaluation:
_____________________________________
Train set evaluation:
_____________________________________